<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- LINK TAGS -->

    <title>Transend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='LayerSlider/static/css/layerslider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='revslider/public/assets/css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/woocommerce-layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/woocommerce-smallscreen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/woocommerce.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/mediaelement/mediaelementplayer.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/mediaelement/wp-mediaelement.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-customabae.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configs.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='js/wp-google-maps-pro/css/wpgmza_style_pro.css') }}"  type='text/css' media='all'>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/wp-google-maps-pro/css/data_table_front.css') }}" type='text/css' media='all'>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>

    <link rel="icon" href="{{ url_for('static', filename='upload/bateaux-icon.png') }}">
</head>

<body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">

    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border">

        <header class="btx-header" data-transparent="" data-height="90">

            <nav class="btx-navbar btx-navbar--standard btx-light-scheme btx-highlight-default btx-navbar-dropdown-dark-scheme btx-navbar--center btx-navbar--custom" data-height="90" data-style="standard" data-fixed="true" data-height_fixed="60" data-autohide="true" data-transition="custom-change" data-transition_point="1">
                <div class="btx-container--fullwidth">
                    <div class="btx-navbar-content-wrapper">
                        <div class="btx-navbar-header">
                            <a class="btx-navbar-brand" href="index.html">

                                <img src="/static/upload/logo.png" alt="">

                            </a>
                        </div>

            <div class="btx-header-widgets btx-left-alignment btx-light-scheme">
                <div class="btx-header-widgets-content">
                    <div class="btx-container--fullwidth">
                        <div class="btx-row">

                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                            <div class="btx-header-widgets-column btx-p-border-border btx-col-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="btx-navbar--mobile btx-navbar--mobile-standard btx-navbar--minimal btx-navbar--minimal--full btx-light-scheme" data-height="60" data-fixed="true" data-autohide="true" data-transition="custom-change" data-transition_point="1">
                <div class="btx-container--fullwidth">
                    <div class="btx-navbar-content-wrapper">
                        <div class="btx-navbar-header">
                            <a class="btx-navbar-brand" href="index.html">

                                <img src="/static/upload/logo.png" alt="">

                            </a>
                        </div>
                        <a class="btx-collapsed-button" href="#" data-target=".btx-collapsed-menu">
                            <span class="btx-lines"></span>
                        </a>
                        <div class="btx-collapsed-menu btx-collapsed-menu--full">
                            <div class="btx-navbar-background">
                                <div class="btx-background-wrapper"></div>
                                <div class="btx-background-overlay btx-p-bg-bg"></div>
                            </div>

                            <div class="btx-collapsed-menu-inner">
            </nav>
        </header>

        <main class="btx-content btx-content--with-header" id="main">
            <article id="post-521" class="btx-content-wrapper post-521 page type-page status-publish hentry">


                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked" style="height:400px;" data-role="header">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url(/static/upload/BACKGROUND.JPG); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-left-align">
                            <div class="btx-page-hero-content btx-bottom-vertical">
                                <div class="btx-page-hero-content-wrapper btx-left-align" style="max-width:550px;">


                                    <div class="btx-page-hero-body">


                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Transend</h1>
                                        </div>

                                        <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span class="font-style" style="font-size: 19px;">Send or receive your files! Download our app to enjoy our services!</span></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>


                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                    
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" id="1" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-modal btx-modal mfp-hide btx-light-scheme" id="modal-demo-4" style="max-width:733px; overflow-y:auto;" data-animation="3d-unfold">
                                                    <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Scan QR code</h3>
                                                    </div>
    
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align">
                                                        <div class="btx-feature-content">
    
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                
                                                                <div class="btx-feature-item btx-p-border-border btx-col-12" style="padding:0 15px;">
    
                                                                    <div class="">
									<div id="qrcodecontainer">
										<img></img>
	                                                                	<progress id="progress" value="0"></progress>
									</div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="btx-item js-item-modal btx-modal mfp-hide btx-light-scheme" id="modal-demo-5" style="max-width:733px; overflow-y:auto;" data-animation="3d-unfold">
                                                <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff;"></div>
                                                </div>
                                                <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                    <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Scan QR code</h3>
                                                </div>

                                                <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align">
                                                    <div class="btx-feature-content">

                                                        <div class="btx-row" style="margin:0 -15px;">
                                                            
                                                            <div class="btx-feature-item btx-p-border-border btx-col-12" style="padding:0 15px;">
									<form id="upload-file" method="post" enctype="multipart/form-data">
										<input type = "file" id="send_to_phone_input" name = "file">
										<button id="send_to_phone_submit" type="button" style="display:none;">Generate QR Code</button>
									</form>
									<div class="btx-feature-media ">
                                                                        	<div id="qrcodecontainer_mob"><img></img></div>
                                                                        </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="2" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <div class="btx-background-inner" style="background-image:url(/static/upload/BACKGROUND.JPG); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#7af442; opacity:0.8;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:120px; padding-bottom:120px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-button btx-button btx-button--fill btx-center-align btx-button-size--large btx-button-hover--inverse btx-button-color--basic">
                                                <a href="#modal-demo-4" id="topcbutton" class="btnx" style="border-radius:40px; border-width:1px;">
            
                
                                                                Send to PC           
                                                </a>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-button btx-button btx-button--fill btx-center-align btx-button-size--large btx-button-hover--inverse btx-button-color--basic">
                                                <a href="#modal-demo-5" id="tophonebutton" class="btnx" style="border-radius:40px; border-width:1px;">
            
                
                                                                Send to Phone           
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </article>
        </main>


        <footer class="btx-footer btx-dark-scheme type-footer-bottombar">
            <div class="btx-footer-widgets btx-left-align">
                <div class="btx-container">
                    <div class="btx-footer-widgets-content">
                        <div class="btx-row">
                            <div class="btx-footer-column btx-p-border-border btx-col-12">
                                <div class="btx-widgets">
                                    <ul class="btx-widgets-list">
                                        <li id="text-19" class="widget widget_text">
                                            <div class="btx-heading btx-heading--default btx-heading--underline btx-p-border-border btx-s-text-border">
                                                <h3 class="btx-heading-text  btx-s-text-color">About</h3>
                                            </div>
                                            <div class="textwidget">Bateaux is a creative multi-purpose Wordpress theme designed to make awesome website. It comes with Blueprint, the fastest page builder ever.

                                                <br/>
                                                <br/>
                                                <span class="fa fa-phone" ></span>&nbsp;&nbsp;&nbsp; +44 123 456 7890

                                                <br/>
                                                <span class="fa fa-envelope" ></span>&nbsp;&nbsp; info@bateauxtheme.com
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btx-bottombar btx-p-border-border">
                <div class="btx-container">
                    <div class="btx-bottombar-content btx-p-border-border">
                        <div class="btx-widgets left">
                            <div class="widget btx-widget-text">© 2019 Transend. All rights reserved.</div>
                        </div>
                        <div class="btx-widgets right">
                            <div class="widget btx-widget-social">
                                <div class="btx-social btx-social--plain">
                                    <div class="btx-social-inner">
                                        <a href="https://www.facebook.com/" class="btx-social-item btx-social-facebook" target="_blank">
                                            <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-text-color" >
                                                    <i class="fa fa-facebook"></i>
                                                </span>
                                                <span class="btx-icon-hover btx-icon-plain btx-p-brand-color" >
                                                    <i class="fa fa-facebook"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="https://www.twitter.com/" class="btx-social-item btx-social-twitter" target="_blank">
                                            <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-text-color" >
                                                    <i class="fa fa-twitter"></i>
                                                </span>
                                                <span class="btx-icon-hover btx-icon-plain btx-p-brand-color" >
                                                    <i class="fa fa-twitter"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="https://www.instagram.com/" class="btx-social-item btx-social-instagram" target="_blank">
                                            <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-text-color" >
                                                    <i class="fa fa-instagram"></i>
                                                </span>
                                                <span class="btx-icon-hover btx-icon-plain btx-p-brand-color" >
                                                    <i class="fa fa-instagram"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="mailto:support@studiotwist.co" class="btx-social-item btx-social-email">
                                            <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-text-color" >
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <span class="btx-icon-hover btx-icon-plain btx-p-brand-color" >
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='revslider/public/assets/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='revslider/public/assets/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"static/js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>
    <script src="{{ url_for('static', filename='js/mediaelement/mediaelement-and-player.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mediaelement/wp-mediaelement.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hoverIntent.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/ui/widget.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main-vendors.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>


</body>
</html>
